<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{% block title %}Consent Management{% endblock %}</title>
  {% load static %}
  <link rel="shortcut icon" type="image/png" href="{%  static 'favicon.ico' %}" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="{% static 'cmapi/style.css' %}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <link rel="stylesheet" type="text/css" href="{% static 'cmapi/bootstrap-theme.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'cmapi/bootstrap.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'cmapi/ie10-viewport-bug-workaround.css' %}" />
</head>

<body>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
          aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Consent Management</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'consent:index'%}">Consent Management</a>
      </div>
    </div>
  </nav>

  <div class="container-fluid " role="main">
    {% block body %}
    {% endblock %}
  </div>
</body>

</html>